pyrogram
python-telegram-bot==12.8
requests
psycopg2
ujson
pyfy
lyricsgenius
speedtest-cli>=2.0.2
tgcrypto
pytgcalls==2.1.0
python-dotenv
yt-dlp
youtube-search-python
requests
aiohttp
aiofiles
asyncio
youtube-search
ffmpeg-python
pillow
python-arq
future
psutil
wget
tswift
